
@{
    ViewBag.Title = "Create";
}

<h2> Create</h2>
 <from>

    Name: <input type="text" name="name" value=""  class="form-control"  />
     Id: <input type="text"  name=" id" value="" class="form-control" />
     <input type="submit" name="Add" value=" add"  class="btn-danger" />
    

 </from>


