
@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<table class=" table table-bordered">

    <tr>
        <td> name </td>
        <td> id </td>
        <td> Dob </td>
    </tr>
    <tr>
        <td> mortuja </td>
        <td> 1233 </td>
        <td> 12.2.3</td>
    </tr>

    <tr>
        <td> munjer  </td>
        <td> 34 </td>
        <td> 31.12.1998 </td>
    </tr>



</table>

